# Data cleaning project

## Objectives


- Obtain clean data where all persons are U.S. residents.
- Analyze data to find out the average annual salary in the U.S.
- Analyze data to find out which industries pay the most on average.
- Analyze data to find out which states in the USA pay the most on average.
- Analyze data to find out which are the jobs that give the best bonuses

## Data cleaning

Importing libraries needed for data cleaning

In [2]:
import pandas as pd
import numpy as np

Database to be cleaned

In [7]:
df = pd.read_csv("Data\Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv", index_col='Timestamp', parse_dates=['Timestamp'])
df.head(5)

,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
Timestamp,,,,,,,,,,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Renaming columns for convenience

In [8]:
df.columns = ['age', 'industry', 'job', 'job context', 'annual salary', 'bonuses', 'currency', 'other currencies', 'context entry', 'working country', 'state', 'city', 'total work experience', 'work experience in the industry', 'education', 'gender', 'ethnicity']
df.head(5)

,age,industry,job,job context,annual salary,bonuses,currency,other currencies,context entry,working country,state,city,total work experience,work experience in the industry,education,gender,ethnicity
Timestamp,,,,,,,,,,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Eliminating unnecessary columns

In [10]:
df = df.drop(columns=['job context', 'context entry', 'other currencies', 'city', 'total work experience', 'work experience in the industry', 'education', 'gender', 'ethnicity'])
df.head(5)

,age,industry,job,annual salary,bonuses,currency,working country,state
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,United States,Massachusetts
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,NaN
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",NaN,USD,US,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina

Replacing null cells in the bond column with zeros and converting the column to integers

In [11]:
df['bonuses'] = df['bonuses'].replace(np.nan, 0).astype(int)
df.dtypes

age                object
industry           object
job                object
annual salary      object
bonuses             int32
currency           object
working country    object
state              object
dtype: object

Removing the commas from the digits and converting the column to integers

In [12]:
df['annual salary'] = df['annual salary'].str.replace(",", "").astype(int)
df.dtypes

age                object
industry           object
job                object
annual salary       int32
bonuses             int32
currency           object
working country    object
state              object
dtype: object

Removing spaces from text strings to facilitate country searches

In [14]:
df['working country'] = df['working country'].str.replace(" ", "")
df.head(5)

,age,industry,job,annual salary,bonuses,currency,working country,state
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,UnitedStates,Massachusetts
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000,GBP,UnitedKingdom,NaN
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,US,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,62000,3000,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,US,South Carolina

Using regex to find all those people who used different types of nomenclature for the country USA 

example (US, United states, U.S.A )

and replacing it with the word USA to group all people working in the United States into one nomenclature for all.

In [15]:
df['working country'] = df['working country'].str.replace("^U\.[^kKaA].+", "USA", regex=True)
df['working country'] = df['working country'].str.replace("^Un....[^kKaA].+", "USA", regex=True)
df['working country'] = df['working country'].str.replace("^U[sS]", "USA", regex=True)
df['working country'] = df['working country'].str.replace("^TheU.+", "USA", regex=True)
df['working country'] = df['working country'].str.replace("^USA.+", "USA", regex=True)

Getting the data clean and ready to analyze and extract information for decision making.

In [29]:
clean_data = df[df['working country'].str.contains("^USA")]
clean_data.head(5)

,age,industry,job,annual salary,bonuses,currency,working country,state
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,USA,Massachusetts
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,USA,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,62000,3000,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,USA,South Carolina
2021-04-27 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,62000,0,USD,USA,New Hampshire

# Analyzing data

Obtaining the average annual salary in the USA

In [17]:
average_annual_salary_USA = clean_data.groupby('working country')['annual salary'].mean().tolist()    
average_annual_salary_USA = '${:,.2f}'.format(average_annual_salary_USA[0])
print(f'The average annual salary in the U.S. according to the data given is {average_annual_salary_USA}')

The average annual salary in the U.S. according to the data given is $92,139.87

Obtaining the industries that pay the most on average

In [21]:
best_paid_industries = clean_data.groupby('industry')['annual salary'].mean().reset_index().sort_values(by='annual salary', ascending=False).head(5)
best_paid_industries['annual salary'] = best_paid_industries['annual salary'].map('${:,.2f}'.format)
best_paid_industries.columns = ['Industry', 'Average Annual Salary']
best_paid_industries

                                              Industry Average Annual Salary
171          Commercial Building Material Distribution           $400,000.00
843                                             Sports           $300,000.00
210                                 Corporate Training           $280,000.00
283  Energy (oil & gas & associated products, renew...           $253,300.00
644                       Pharmaceutical/biotechnology           $227,500.00

Obtaining the U.S. states that pay the most on average

In [22]:
best_paying_states = clean_data.groupby('state')['annual salary'].mean().reset_index().sort_values(by='annual salary', ascending=False).head(5)
best_paying_states['annual salary'] = best_paying_states['annual salary'].map('${:,.2f}'.format)
best_paying_states.columns = ['State', 'Average Annual Salary']
best_paying_states

                          State Average Annual Salary
85  Michigan, Texas, Washington           $340,000.00
62                Indiana, Ohio           $245,000.00
36             Colorado, Nevada           $190,000.00
32            California, Texas           $185,000.00
26          California, Montana           $185,000.00

Obtaining the industries that grant the best bonuses

In [24]:
jobs_best_bonuses = clean_data.groupby('job')['bonuses'].mean().reset_index().sort_values(by='bonuses', ascending=False).head(5)
jobs_best_bonuses['bonuses'] = jobs_best_bonuses['bonuses'].map('${:,.2f}'.format)
jobs_best_bonuses.columns = ['Job', 'Bonuses']
jobs_best_bonuses

                                   Job        Bonuses
8678  Senior Business Systems Analyst   $1,000,000.00
9604    Senior staff software engineer  $1,000,000.00
5960          Manager of Data Science     $780,000.00
4773      Head of Software Engineering    $600,000.00
9825                Software architect    $500,000.00