# Proyecto limpieza de datos

## Objetivos


- Obtener los datos limpios donde todas las personas sean residentes de USA
- Analizar datos para saber el salario promedio anual en USA
- Analizar datos para saber cuales son las industrias que pagan mas en promedio
- Analizar datos para saber en promedio que estados de USA pagan mas
- Analizar datos para saber cuales son los trabajos que otorgan mejores bonos

## Limpieza de datos

Importando librerias necesarias para la limpieza de datos

In [1]:
import pandas as pd
import numpy as np

Base de datos a limpiar

In [2]:
df = pd.read_csv("Data\Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv", index_col='Timestamp', parse_dates=['Timestamp'])
df.head(5)

,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
Timestamp,,,,,,,,,,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Cambiando el nombre de las columnas para mayor comodidad

In [3]:
df.columns = ['edad', 'industria', 'trabajo', 'contexto trabajo', 'salario anual', 'bonos', 'moneda', 'otras monedas', 'contexto entrada', 'pais de trabajo', 'estado', 'ciudad', 'experiencia en total', 'experiencia en la industria', 'educacion', 'genero', 'etnia']
df.head(5)

,edad,industria,trabajo,contexto trabajo,salario anual,bonos,moneda,otras monedas,contexto entrada,pais de trabajo,estado,ciudad,experiencia en total,experiencia en la industria,educacion,genero,etnia
Timestamp,,,,,,,,,,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Eliminando las columnas innecesarias

In [4]:
df = df.drop(columns=['contexto trabajo', 'contexto entrada', 'otras monedas', 'ciudad', 'experiencia en total', 'experiencia en la industria', 'educacion', 'genero', 'etnia'])
df.head(5)

,edad,industria,trabajo,salario anual,bonos,moneda,pais de trabajo,estado
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,United States,Massachusetts
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,NaN
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",NaN,USD,US,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina

Remplazando las celdas nulas en la columna bonos por ceros y convirtiendo la columna en numeros enteros

In [5]:
df['bonos'] = df['bonos'].replace(np.nan, 0).astype(int)
df.dtypes

edad               object
industria          object
trabajo            object
salario anual      object
bonos               int32
moneda             object
pais de trabajo    object
estado             object
dtype: object

Eliminando las comas de los dijitos y convirtiendo la columna en numeros enteros

In [6]:
df['salario anual'] = df['salario anual'].str.replace(",", "").astype(int)
df.dtypes

edad               object
industria          object
trabajo            object
salario anual       int32
bonos               int32
moneda             object
pais de trabajo    object
estado             object
dtype: object

Eliminando los espacios de las cadenas de texto para facilitar la busqueda de paises

In [7]:
df['pais de trabajo'] = df['pais de trabajo'].str.replace(" ", "")
df.head(5)

,edad,industria,trabajo,salario anual,bonos,moneda,pais de trabajo,estado
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,UnitedStates,Massachusetts
2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000,GBP,UnitedKingdom,NaN
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,US,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,62000,3000,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,US,South Carolina

Usando regex para encontrar todas aquellas personas que usaron distintos tipos de nomenclatura para el pais USA 

ejemplo (US, United states, U.S.A )

y reemplazandolo por la palabra USA para asi agrupar todas las personas que trabajan en estados unidos en una nomenclatura para todos

In [8]:
df['pais de trabajo'] = df['pais de trabajo'].str.replace("^U\.[^kKaA].+", "USA", regex=True)
df['pais de trabajo'] = df['pais de trabajo'].str.replace("^Un....[^kKaA].+", "USA", regex=True)
df['pais de trabajo'] = df['pais de trabajo'].str.replace("^U[sS]", "USA", regex=True)
df['pais de trabajo'] = df['pais de trabajo'].str.replace("^TheU.+", "USA", regex=True)
df['pais de trabajo'] = df['pais de trabajo'].str.replace("^USA.+", "USA", regex=True)

Obteniendo los datos limpios y listos para analizar y sacar informacion que ayude a la toma de decisiones

In [9]:
clean_data = df[df['pais de trabajo'].str.contains("^USA")]
clean_data.head(5)

,edad,industria,trabajo,salario anual,bonos,moneda,pais de trabajo,estado
Timestamp,,,,,,,,
2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,USA,Massachusetts
2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,USA,Tennessee
2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,62000,3000,USD,USA,Wisconsin
2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,USA,South Carolina
2021-04-27 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,62000,0,USD,USA,New Hampshire

# Analizando datos

Obteniendo el salario promedio anual en USA

In [10]:
promedio_salario_anual_USA = clean_data.groupby('pais de trabajo')['salario anual'].mean().tolist()    
promedio_salario_anual_USA = '${:,.2f}'.format(promedio_salario_anual_USA[0])
print(f'El salario promedio anual en los estados unidos segun los datos dados es de {promedio_salario_anual_USA}')

El salario promedio anual en los estados unidos segun los datos dados es de $92,139.87

Obteniendo las industrias que pagan mas en promedio

In [11]:
industrias_mejor_pagadas = clean_data.groupby('industria')['salario anual'].mean().reset_index().sort_values(by='salario anual', ascending=False).head(5)
industrias_mejor_pagadas['salario anual'] = industrias_mejor_pagadas['salario anual'].map('${:,.2f}'.format)
industrias_mejor_pagadas.columns = ['Industrias', 'Salario Promedio Anual']
industrias_mejor_pagadas

                                            Industrias Salario Promedio Anual
171          Commercial Building Material Distribution            $400,000.00
843                                             Sports            $300,000.00
210                                 Corporate Training            $280,000.00
283  Energy (oil & gas & associated products, renew...            $253,300.00
644                       Pharmaceutical/biotechnology            $227,500.00

Obteniendo los estados de USA que pagan mas en promedio

In [12]:
estados_mejor_pagan = clean_data.groupby('estado')['salario anual'].mean().reset_index().sort_values(by='salario anual', ascending=False).head(5)
estados_mejor_pagan['salario anual'] = estados_mejor_pagan['salario anual'].map('${:,.2f}'.format)
estados_mejor_pagan.columns = ['Estados', 'Salario Promedio Anual']
estados_mejor_pagan

                        Estados Salario Promedio Anual
85  Michigan, Texas, Washington            $340,000.00
62                Indiana, Ohio            $245,000.00
36             Colorado, Nevada            $190,000.00
32            California, Texas            $185,000.00
26          California, Montana            $185,000.00

Obteniendo las industrias que otorgan mejores bonos

In [13]:
trabajos_mejores_bonos = clean_data.groupby('trabajo')['bonos'].mean().reset_index().sort_values(by='bonos', ascending=False).head(5)
trabajos_mejores_bonos['bonos'] = trabajos_mejores_bonos['bonos'].map('${:,.2f}'.format)
trabajos_mejores_bonos.columns = ['Trabajo', 'Bonos']
trabajos_mejores_bonos

                               Trabajo          Bonos
8678  Senior Business Systems Analyst   $1,000,000.00
9604    Senior staff software engineer  $1,000,000.00
5960          Manager of Data Science     $780,000.00
4773      Head of Software Engineering    $600,000.00
9825                Software architect    $500,000.00